* {
    margin: 0;
    padding: 0;
}


/*custom properties**********************************************************/

:root {
    --width: 100%;

    --borderradius: 15px;
    --bordershadowcolor: dimgrey;
    --bordershadowx: 5px;
    --bordershadowy: 5px;

    --menubarheight: 3.5em;
    --menubaricon: 1em;
    --menulogo: 2.5em;

    --menuiconheight: 1.5em;

    --whitecolor: white;

    --h3fontsize: 2em;
    --imgposition: 100%;
    --imgheight: 80%;

    --sectionwidth1: 65%;
    --sectionwidth2: 100%;
    --sectionwidthimg: 80%;
    --sectionpadding: 2.5em;
    --sectioncolor1: white;
    --sectioncolor2: rgb(247, 247, 247);

    --bookingdateborder: .3em;
    --bookingborder: 5px;
    --bookingwidth: 25em;
    --bookingwidthcalc: calc(var(--bookingwidth) - 8.3em);
    --bookingpadding: .7em;
    --bookingpaddingright: 10em;
    --bookingmargintop: .5em;
    --bookingmarginbottom: 2em;
    --knopradius: 8em;
    --buttongradient1: rgb(22, 47, 156);
    --buttongradient2: rgb(37, 94, 199);

    --huiskleurblauw: rgb(38, 102, 221);

    --knopfontsize: .8em;
    --knopbordersize: 3px;
    --imgradius: .6em;

    --sliderimgwidth: 20em;
    --sliderliwidth: 20em;
    --sliderliheight: 27em;
}



/*algemeen*****************************************************************/

li {
    list-style: none;
}

body {
    max-width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

/*nav bar mobile version******************************************************/


nav>ul:first-of-type>li {
    margin: .8em;
}


/*om menu en hamburger icon onderelkaar te zetten*/

nav {
    display: flex;
}

nav button {
    display: flex;
    flex-direction: column;

    all: unset;
    z-index: 200;
    position: absolute;

    margin-left: .8em;
}

nav ul:first-of-type {
    background-color: var(--whitecolor);

    left: 0;
    right: 0;
    width: 100%;
    height: var(--menubarheight);

    z-index: 150;
}

/*hamburger menu schalen en positioneren*/

nav button img {
    display: flex;
    max-height: var(--menubaricon);
    margin: .7em;
}

/*disneyland logo positioneren en schalen*/

nav>ul:first-of-type>li:first-of-type {
    position: absolute;

    left: 50vw;
    transform: translateX(-50%);
}

nav>ul:first-of-type>li:first-of-type a img {
    height: var(--menulogo);
}

/*searchicon positioneren en schalen*/

nav>ul:first-of-type>li:nth-of-type(2) {
    position: absolute;

    right: 0;
    margin: 1.2em;
}

nav>ul:first-of-type>li:nth-of-type(2) a img {
    height: 1.5em;
}

/*uitschuifbare menubar styling***************/

nav>ul:last-of-type {
    display: flex;
    flex-direction: column;
    position: fixed;

    background-color: var(--whitecolor);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    padding-top: calc(var(--menubarheight) + 1em);
    padding-left: var(--sectionpadding);

    transform: translateY(-100%);
    transition: .5s;

    z-index: 100;
}

/*menu styling */

nav ul:last-of-type li a {
    text-decoration: none;
    font-weight: bolder;
}

nav ul:last-of-type li:nth-of-type(2) a,
nav ul:last-of-type li:nth-of-type(3) a {
    font-size: var(--knopfontsize);
}

/*eerste img */
nav>ul:last-of-type li:first-of-type img {
    height: var(--menuiconheight);
    border: 4px solid white;
    border-radius: 2em;
    box-shadow: 2px 2px 4px rgb(212, 212, 212), -2px -2px 4px rgb(212, 212, 212);
}

/*tweede en derde witte knop met img */
nav>ul:last-of-type>li:nth-of-type(2),
nav>ul:last-of-type>li:nth-of-type(3) {
    border: 4px solid white;
    border-radius: 2em;
    box-shadow: 2px 2px 4px rgb(212, 212, 212), -2px -2px 4px rgb(212, 212, 212);
    width: fit-content;
}

nav>ul:last-of-type>li:nth-of-type(2) {
    position: absolute;
    left: 5.5em;

    background-image: url("images/inlog.png");
    background-repeat: no-repeat;
    background-size: var(--menuiconheight);

    height: var(--menuiconheight);
    padding-left: 2em;
    padding-right: .5em;
}

nav>ul:last-of-type>li:nth-of-type(3) {
    background-image: url("images/clock.png");
    background-repeat: no-repeat;
    background-size: var(--menuiconheight);

    margin-top: 2.5em;

    height: var(--menuiconheight);
    padding-left: 2em;
    padding-right: .5em;
}

/*de rest van de linkjes*/
nav>ul:last-of-type li:not(li:first-of-type, li:nth-of-type(2), li:nth-of-type(3), li:nth-of-type(9), li:nth-of-type(10), li:nth-of-type(11)) {
    margin-top: 2.5em;
}


nav ul:last-of-type li:nth-of-type(9),
nav ul:last-of-type li:nth-of-type(10),
nav ul:last-of-type li:nth-of-type(11) {
    position: absolute;

    color: grey;
    bottom: 0;

    font-size: var(--knopfontsize);
}


nav ul:last-of-type li:nth-of-type(9) {
    margin-bottom: 5rem;
}

nav ul:last-of-type li:nth-of-type(10) {
    color: black;

    margin-bottom: 3.5rem;
    font-size: .7em;
}


nav ul:last-of-type li:nth-of-type(11) {
    background-image: url("images/helpcenter.png");
    background-repeat: no-repeat;
    background-size: var(--menuiconheight);

    right: 2.5em;
    margin-bottom: 5rem;
    padding-left: 1.5em;
}

nav ul:last-of-type li:nth-of-type(11) a {
    color: grey;
}


/*de toonmenu actie*/

nav.toonMenu ul:last-of-type {
    transform: translateY(0%);
    position: fixed;
}

nav.toonMenu button,
nav.toonMenu ul:first-of-type {
    /* overscroll-behavior: none; */
    position: fixed;

}

/*de menu iconen voor desktop verbergen*/
nav>div:last-of-type {
    display: none;
}


/*eerste section met quote****************************************************/
/*span - laat je dromen weer uitkomen*/
main>section span:first-of-type {
    position: absolute;
    color: var(--whitecolor);

    width: 100%;
    left: 50%;
    top: 50%;

    font-size: 25px;
    font-weight: bold;
    text-align: center;

    transform: translate(-50%, -50%);
}

main>section:first-of-type {
    /* display: flex;
    position: relative; */

    background-color: var(--sectioncolor2);

    overflow: hidden;
}



main>section:first-of-type>a {
    background-image: url("images/pageimage.jpg");
    background-size: cover;

    border-radius: 130em/45em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 75vh;
    background-position: center;

    filter: grayscale(20%);
}

/*boeking home pagina*********************************************************************************************/

/*de booking styling algemeen*/

main>section:nth-of-type(2) {
    background-color: var(--sectioncolor2);
}

/*de eerste section de boeking*/

main>section:nth-of-type(2) div:first-of-type form {
    width: var(--bookingwidth);
}

main>section:nth-of-type(2) div:first-of-type form div div label {
    padding-right: var(--bookingpaddingright);
}

main>section:nth-of-type(2)>div:first-of-type {
    display: flex;
    position: relative;

    background-color: var(--sectioncolor1);
    color: rgb(3, 8, 36);

    top: -5em;
    width: var(--sectionwidth1);

    margin-left: auto;
    margin-right: auto;
    padding: var(--sectionpadding);
    border-radius: var(--borderradius);

    font-size: .7em;
    font-weight: bolder;

    justify-content: center;
    appearance: none;
}

main>section:nth-of-type(2)>div>section {
    display: none
}

/*kies je data*/
/*Om de content nooit groter dan de bookingwidth te laten maken, 
hoe groter de scherm het witte achtergrond gaat altijd mee 
maar de content moet een bepaald width zijn hoe breed het ook word*/

main>section:nth-of-type(2)>div:first-of-type>div:first-of-type {
    display: flex;
    flex-direction: row;
    position: absolute;

    text-align: center;
    gap: 4em;
}

main>section:nth-of-type(2)>div:first-of-type>section:first-of-type>button {
    cursor: pointer;
    display: none;
}

main>section:nth-of-type(2)>div:first-of-type>section:first-of-type {
    cursor: pointer;
    position: absolute;
    opacity: 1;
    background: var(--whitecolor);

    margin-top: 5em;

}

main>section:nth-of-type(2)>div:first-of-type>section:first-of-type>div {
    border-radius: 1.5em;
    border-color: var(--sectioncolor2);
    border-width: 5px;

}


main>section:nth-of-type(2)>div:first-of-type>form {
    margin-top: 4em;
}

main>section:nth-of-type(2)>div:first-of-type>form>div>div>div>input[type=date] {
    padding: var(--bookingpadding);
    margin-top: var(--bookingmargintop);
    margin-bottom: var(--bookingmarginbottom);
}

main>section:nth-of-type(2) div:first-of-type form div div div input[type=date]:first-of-type {
    margin-right: -8px;
    width: calc(var(--bookingwidthcalc) / 2);
    border-bottom-left-radius: var(--bookingdateborder);
    border-top-left-radius: var(--bookingdateborder);
}

main>section:nth-of-type(2) div:first-of-type form div div div input[type=date]:nth-of-type(2) {
    margin-left: 0;
    width: calc(var(--bookingwidthcalc) / 2);
    border-bottom-right-radius: var(--bookingdateborder);
    border-top-right-radius: var(--bookingdateborder);
}

/*hotels en resorts*/
main>section:nth-of-type(2) div:first-of-type form div div select:first-of-type {
    padding: var(--bookingpadding);
    margin-top: var(--bookingmargintop);
    margin-bottom: var(--bookingmarginbottom);
    width: 100%;
    border-radius: var(--bookingdateborder);
}

/*kamers en gasten*/
main>section:nth-of-type(2) div:first-of-type form div div select:nth-of-type(2) {
    padding: var(--bookingpadding);
    margin-top: var(--bookingmargintop);
    margin-bottom: var(--bookingmarginbottom);
    width: 100%;
}

/*vind prijzen*/
main>section:nth-of-type(2) div:first-of-type form input[type=submit] {
    padding: var(--bookingpadding);
    margin-top: var(--bookingmargintop);
    margin-bottom: var(--bookingmarginbottom);
    width: 100%;
    border-radius: var(--knopradius);
    border: none;

    letter-spacing: 1px;

    color: var(--whitecolor);
    background-image: linear-gradient(to right, var(--buttongradient1), var(--buttongradient2));
}

/*onder tekst*/
main>section:nth-of-type(2) div:first-of-type form legend {
    margin-top: var(--bookingmargintop);
    text-align: center;
    font-weight: normal;
}

/*de rest van de secties onder de booking**********************************************************/

/*voor de hover animation*/
main>section>a,
main>section>a>ul>li>a {
    transition: .3s;
}

/*knop styling voor de sections*/
main>section:not(section:first-of-type)>a {
    color: var(--huiskleurblauw);
    background-color: var(--whitecolor);

    padding: var(--bookingpadding);
    padding-left: var(--sectionpadding);
    padding-right: var(--sectionpadding);

    border: var(--knopbordersize) solid var(--huiskleurblauw);
    border-radius: var(--knopradius);
    margin: auto;

    font-size: var(--knopfontsize);
    font-weight: bolder;
    text-decoration: none;
    text-align: center;

}

/*styling voor images*/
main>section>img {
    width: var(--sectionwidth2);
    border-radius: var(--imgradius);
}

/*section van img1 - img7 padding dat zorgt voor de witruimte*/
main>section:nth-of-type(3),
main>section:nth-of-type(5),
main>section:nth-of-type(6),
main>section:nth-of-type(7),
main>section:nth-of-type(10),
main>section:nth-of-type(11),
main>section:nth-of-type(12) {
    padding: var(--sectionpadding);
}

/*section img en tekst order te verwisselen, images moeten bovenaan*/
main>section:nth-of-type(3) img,
main>section:nth-of-type(5) img,
main>section:nth-of-type(6) img,
main>section:nth-of-type(7) img,
main>section:nth-of-type(10) img,
main>section:nth-of-type(11) img,
main>section:nth-of-type(12) img {
    order: -1;
}

/*sectie 3 - img1 - boek vroeg en profiteer van onze laagste prijzen*/
main>section:nth-of-type(3) {
    background-color: var(--sectioncolor2);
}

/*sectie 4 - met de twee li's in ul*/

main>section:nth-of-type(4) {
    display: flex;
    flex-direction: column;
    padding-top: var(--sectionpadding);
}

main>section:nth-of-type(4) ul {
    display: flex;
    flex-direction: column;

    background-color: var(--sectioncolor1);

    width: 100%;
    padding-top: var(--sectionpadding);
    padding-bottom: var(--sectionpadding);

    gap: 2em;
    list-style: none;
}

main>section:nth-of-type(4)>h3 {
    text-align: center;
}

main>section:nth-of-type(4) li {
    display: flex;
    flex-direction: column;
    align-self: center;

    background-color: var(--sectioncolor1);
    width: var(--sliderliwidth);
    height: var(--sliderliheight);


    box-shadow: 5px 5px 8px rgb(206, 206, 206), -2px -2px 8px rgb(206, 206, 206);
    border-radius: var(--borderradius);
}

main>section:nth-of-type(4) ul li img {
    border-radius: var(--borderradius);
    width: 100%;
    height: 12em;
    flex-shrink: 0;
    order: -1;
}

main>section:nth-of-type(4) ul li h3,
main>section:nth-of-type(4) ul li p {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5em;
}

main>section:nth-of-type(4)>ul>li>p,
main>section:nth-of-type(4)>ul>li>a {
    font-size: var(--knopfontsize);
}

main>section:nth-of-type(4) ul li a {
    align-self: center;
    justify-content: flex-end;

    color: var(--huiskleurblauw);
    background-color: var(--whitecolor);

    padding: var(--bookingpadding);
    padding-left: var(--sectionpadding);
    padding-right: var(--sectionpadding);

    border: var(--knopbordersize) solid var(--huiskleurblauw);
    border-radius: var(--knopradius);

    font-weight: bolder;
    text-decoration: none;
    text-align: center;

    margin-bottom: auto;
    margin-top: 1em;
}

/*sectie 5 - img2 - laat je dromen weer uitkomen*/
section:nth-of-type(5) {
    background-color: var(--sectioncolor2);
}

/*sectie 6 - img3 - boek je verblijf met gemoedrust*/
section:nth-of-type(6) {
    background-color: var(--sectioncolor1);
}

/*sectie 7 - img4 - vind het perfecte moment voor je verblijf*/
section:nth-of-type(7) {
    background-color: var(--sectioncolor2);
}

/*sectie 8 - hotel slider*/
section:nth-of-type(8) {
    background-color: var(--sectioncolor1);

    padding-top: var(--sectionpadding);
    padding-bottom: var(--sectionpadding);
}

section:nth-of-type(8) h3 {
    text-align: center;
}

section:nth-of-type(8) ul:first-of-type {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    cursor: grab;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

section:nth-of-type(8) ul:first-of-type li {
    display: flex;
    flex-direction: column;

    background-color: var(--sectioncolor1);
    margin: 1em;
    width: var(--sliderliwidth);
    height: var(--sliderliheight);

    box-shadow: 5px 5px 8px rgb(206, 206, 206), -2px -2px 8px rgb(206, 206, 206);
    border-radius: var(--borderradius);
    scroll-snap-align: center;
}

section:nth-of-type(8) ul:first-of-type li h4,
section:nth-of-type(8) ul:first-of-type li p {
    order: 2;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5em;
}

section:nth-of-type(8) ul:first-of-type li p,
section:nth-of-type(8) ul:first-of-type li a {
    font-size: var(--knopfontsize);
}

section:nth-of-type(8) ul:first-of-type li img {
    border-radius: var(--borderradius);
    width: var(--sliderliwidth);
    height: 12em;
    flex-shrink: 0;
    order: 1;
}

section:nth-of-type(8) ul:first-of-type li a {
    align-self: center;
    justify-content: flex-end;

    order: 3;

    color: var(--huiskleurblauw);
    background-color: var(--whitecolor);

    padding: var(--bookingpadding);
    padding-left: var(--sectionpadding);
    padding-right: var(--sectionpadding);
    margin-bottom: 3em;
    margin-top: auto;

    border: var(--knopbordersize) solid var(--huiskleurblauw);
    border-radius: var(--knopradius);

    font-weight: bolder;
    text-decoration: none;
    text-align: center;
}


/*de bolletjes onder de slider*/
section:nth-of-type(8) ul:nth-of-type(2) {
    display: flex;
    justify-content: center;
    gap: .5em;
}

section:nth-of-type(8) ul:nth-of-type(2) li {
    background-color: grey;

    width: 1em;
    height: 1em;
    border-radius: 50%;
}

section:nth-of-type(8) ul:nth-of-type(2) li a {
    opacity: 0%;
}



/*de knop onder de slider*/
section:nth-of-type(8)>a:last-of-type {
    margin-top: 1em;

    padding: 1em;
    padding-left: var(--sectionpadding);
    padding-right: var(--sectionpadding);

    border-radius: var(--knopradius);
    border: none;
    letter-spacing: 1px;

    color: var(--whitecolor);
    background-image: linear-gradient(to right, var(--buttongradient1), var(--buttongradient2));
}


/*sectie 9 - disneytips van onze fans video*/
section:nth-of-type(9) {

    background-color: var(--sectioncolor2);

    padding: var(--sectionpadding);
    text-align: center;
}

iframe {
    background-color: var(--whitecolor);

    margin-left: auto;
    margin-right: auto;
    padding: 1em;

    box-shadow: 5px 5px 8px rgb(206, 206, 206), -2px -2px 8px rgb(206, 206, 206);
    border-radius: var(--borderradius);
}


/*sectie 10 - img5 - blijf op de hoogte van het..*/
section:nth-of-type(10) {
    background-color: var(--sectioncolor1);
}

/*sectie 11 - img6 - kom je ons bezoeken..*/
section:nth-of-type(11) {
    background-color: var(--sectioncolor2);
}

/*sectie 12 - img7 - disney premier acces..*/
section:nth-of-type(12) {
    background-color: var(--sectioncolor1);
}

/*sectie 13 - #disneyland paris instagram posts*/
section:nth-of-type(13) {
    background-color: var(--sectioncolor1);

    padding-top: var(--sectionpadding);
    padding-bottom: var(--sectionpadding);
}

section:nth-of-type(13) h3 {
    text-align: center;
}

section:nth-of-type(13) ul {
    display: flex;
    flex-direction: row;

    overflow: scroll;
    cursor: grab;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

section:nth-of-type(13)>a {
    color: var(--huiskleurblauw);
    background-color: var(--whitecolor);

    background-image: url(./images/insta1.png);
    background-repeat: no-repeat;
    background-position-x: 1em;
    background-position-y: 50%;
}


/*ig posts styling*/
section:nth-of-type(13) ul li img {
    width: 20em;
    height: 20em;
    margin: .5em;
    border-radius: 5px;
}



/*de footer********************************************************************/

footer {

    background-color: var(--sectioncolor2);

    padding: var(--sectionpadding);

    text-align: center;
    font-weight: normal;
    font-size: var(--knopfontsize);
}

footer div {
    background-color: var(--sectioncolor1);

    padding-left: var(--sectionpadding);
    padding-right: var(--sectionpadding);

    box-shadow: 5px 5px 8px rgb(206, 206, 206), -2px -2px 8px rgb(206, 206, 206);
    border-radius: var(--borderradius);
}

footer div section {
    /* background-image: url("/images/arrowdark.png"); */
    display: flex;
    flex-direction: column;

    padding: 1.5em;
}

footer div section ul li {
    margin-bottom: var(--bookingpadding);
}

/*normale linkjes styling*/

footer div section ul li a {
    text-decoration: none;
    font-size: var(--knopfontsize);
    margin-bottom: 60em;
    color: black;
}

/*arrow styling*/

footer div section img {
    position: absolute;
    height: .8em;
    width: 1.5em;

    right: 10%;

    /* width:var(--menuiconheight); */
}


/*alle states*****************************************************************/
/*focus states*/
a:focus,
button:focus nav>ul>li:focus,
span:focus,
label:focus,
select:focus,
input:focus {
    outline: 2px solid rgb(96, 210, 255);
}

/*hover states*/



a:hover,
button:hover {
    cursor: pointer;
}

main>section:not(section:first-of-type)>a:hover,
/* main section a:hover, */
main>section>ul>li>a:hover,
main>section:nth-of-type(8) ul:first-of-type li a:hover {
    background-color: rgb(202, 203, 207);
}

section:nth-of-type(8)>a:last-of-type:hover {
    background-color: rgb(14, 29, 97)
}

footer div section ul li a:hover {
    text-decoration: underline;
}

/*active states*/

section:nth-of-type(8) ul:nth-of-type(2) li:active {
    background-color: var(--huiskleurblauw);
}

a:active {
    background-color: var(--huiskleurblauw);
}

/*mediaqueries1 bij 60em veranderd het naar desktop********************************************************************************/

@media (min-width:43em) {
    main>section:nth-of-type(4) ul {
        flex-direction: row;
        justify-content: center;
    }
}

@media (min-width:45em) {
    main>img:not(section:first-of-type>a>img) {
        max-width: 30em;
    }

    section:nth-of-type(3),
    section:nth-of-type(5),
    section:nth-of-type(6),
    section:nth-of-type(7),
    section:nth-of-type(10),
    section:nth-of-type(11),
    section:nth-of-type(12) {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }

    /*section 3 grid indeling*/
    section:nth-of-type(3) h3,
    section:nth-of-type(6) h3,
    section:nth-of-type(10) h3,
    section:nth-of-type(12) h3 {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    section:nth-of-type(3) p,
    section:nth-of-type(3) a,
    section:nth-of-type(6) p,
    section:nth-of-type(6) a,
    section:nth-of-type(10) p,
    section:nth-of-type(10) a,
    section:nth-of-type(12) p,
    section:nth-of-type(12) a {
        grid-column-start: 1;
    }

    section:nth-of-type(3) img,
    section:nth-of-type(6) img,
    section:nth-of-type(10) img,
    section:nth-of-type(12) img {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    /*section grid indeling*/
    section:nth-of-type(5) h3,
    section:nth-of-type(7) h3,
    section:nth-of-type(11) h3 {
        grid-column-start: 2;
        grid-row-start: 1;
    }

    section:nth-of-type(5) p,
    section:nth-of-type(5) a,
    section:nth-of-type(7) p,
    section:nth-of-type(7) a,
    section:nth-of-type(11) p,
    section:nth-of-type(11) a {
        grid-column-start: 2;
    }

    section:nth-of-type(5) img,
    section:nth-of-type(7) img,
    section:nth-of-type(11) img {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 4;
    }
}

/*breakingpoint*/
@media (min-width:62em) {

    /*menu bar styling*/
    nav {
        height: 7em;
        background-color: var(--sectioncolor1);
    }

    /*menubar icons die nu te voorschijn komen*/
    nav>div:last-of-type {
        display: inline;
    }

    nav>div:last-of-type>ul {
        display: flex;
        flex-direction: row;
    }

    /*elementen verbergen die niet nodig zijn*/
    nav>button,
    nav>ul:first-of-type>li:last-of-type,
    nav>ul:last-of-type>li:first-of-type,
    nav>ul:last-of-type>li:nth-of-type(2),
    nav>ul:last-of-type>li:nth-of-type(3),
    nav>ul:last-of-type>li:nth-of-type(9),
    nav>ul:last-of-type>li:nth-of-type(10),
    nav>ul:last-of-type>li:nth-of-type(11) {
        display: none;
    }

    nav>ul:last-of-type img {
        display: none;
    }

    /*styling voor de nieuwe elementen op scherm*/

    nav>div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    nav>ul:first-of-type {
        background-color: transparent;
    }

    nav>div>ul {
        margin: 1.2em;
        gap: 0.8em;
    }

    nav>div>ul>li {
        display: flex;
        flex-direction: row;
        background-color: var(--whitecolor);
        border: 4px solid white;
        border-radius: 2em;
        box-shadow: 2px 2px 4px rgb(212, 212, 212), -2px -2px 4px rgb(212, 212, 212);
        height: 1.3em;
        padding: 0.3em;
    }

    /*de opties van de menu desktop versie*/
    nav>ul:last-of-type {
        display: flex;
        flex-direction: row;
        justify-content: center;

        position: absolute;
        background-color: transparent;
        text-align: center;
        font-size: 14px;
        height: fit-content;
        gap: 1.5em;
        transform: translateY(-20%);
    }

    /*section verdeling*/
    section:nth-of-type(3),
    section:nth-of-type(5),
    section:nth-of-type(6),
    section:nth-of-type(7),
    section:nth-of-type(10),
    section:nth-of-type(11),
    section:nth-of-type(12) {
        grid-template-columns: 40% 40%;
    }

    /*styling voor booking*/
    main>section:first-of-type>a>img {
        left: -30%;
        width: 160%;
    }

    /*boeking styling row style ipv column*/
    main>section:nth-of-type(2)>div:first-of-type {
        width: fit-content;
    }

    main>section:nth-of-type(2)>div:first-of-type>form>div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    main>section:nth-of-type(2)>div:first-of-type>form {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

    main>section:nth-of-type(2)>div:first-of-type form div div {
        display: flex;
        flex-direction: column;
        padding: var(--bookingpadding);
    }

    main>section:nth-of-type(2)>div:first-of-type form div div label {
        padding-right: 0;
    }

    main>section:nth-of-type(2) div:first-of-type form div div div {
        display: flex;
        flex-direction: row;
    }

    main>section:nth-of-type(2) div:first-of-type form div div div input[type=date] {
        padding: 0;
        height: 33px;
        margin: 0;
    }

    main>section:nth-of-type(2) div:first-of-type form div div:first-of-type {
        padding-bottom: 0;
        padding-left: 0;
    }

    /*hotels en resorts*/
    main>section:nth-of-type(2)>div:first-of-type>form>div>div:nth-of-type(2) {
        width: 20%;
        padding-bottom: 0;
    }

    /*kamers en gasten*/
    main>section:nth-of-type(2)>div:first-of-type>form>div>div:nth-of-type(3) {
        width: 20%;
        padding-bottom: 0;
    }

    /*vind prijzen*/
    main>section:nth-of-type(2) div:first-of-type form input[type=submit] {
        padding-right: 1em;
        padding-left: 1em;
        padding-bottom: auto;
        padding-top: auto;
        margin-top: 2em;
        margin-bottom: 2em;

        width: 20%;
    }

}

@media (min-width:90em) {

    /*section verdeling*/
    section:nth-of-type(3),
    section:nth-of-type(5),
    section:nth-of-type(6),
    section:nth-of-type(7),
    section:nth-of-type(10),
    section:nth-of-type(11),
    section:nth-of-type(12) {
        grid-template-columns: 35% 35%;
    }

    main>section:first-of-type>a>img {
        width: 160%;
        height: 50%;
    }
}





/*infopagina styling***************************************************************************************************/
/***************************************************************************************************************************/

/*mobile site*/

section.infoSection1 {
    margin: 0;
    padding: 0;
    background-color: var(--sectioncolor2);

}

/*heading img een goede size geven*/
section.infoSection1>img {
    width: 100%;
    border-radius: 0;
}

section.infoSection1>section>img:first-of-type {
    display: none;
}

/*section achtergrond styling/algemene styling voor de bg*/
section.infoSection1>section {
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    background-color: var(--sectioncolor1);

    box-shadow: 5px 5px 8px rgb(206, 206, 206), -2px -2px 8px rgb(206, 206, 206);
    margin-bottom: 2em;
}

section.infoSection1>section>article>h2,
section.infoSection1>section>article>a>h2 {
    margin-bottom: 1.5em;
}

/*centreren van de section*/
section.infoSection1>section>article {
    padding-left: 1em;
    padding-right: 1em;
    width: 85vw;
}

section.infoSection1>section>article>a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

/*article img size*/
section.infoSection1>section>article>a>img {
    text-align: center;
    height: 50vw;
    order: -1;
}

/*article orders*/
section.infoSection1>section>article>a>h3 {
    order: 1;
}

section.infoSection1>section>article>a>p {
    order: 2;
}

/*de eerste article styling*/
section.infoSection1>section>article:first-of-type>p:first-of-type {
    margin-bottom: 1em;
}

section.infoSection1>section>article:first-of-type {
    padding-top: 2em;
}

/*openings tijden styling*/
section.infoSection1>section>article:nth-of-type(2)>h2,
section.infoSection1>section>article>a>h3 {
    margin-top: 1em;
}

section.infoSection1>section>article:nth-of-type(2)>p {
    margin-bottom: 1em;
    font-size: 0.8em;
}

section.infoSection1>section>article:nth-of-type(2)>p:last-of-type {
    margin-bottom: 2em
}

section.infoSection1>section>article:nth-of-type(2) {
    background-color: rgb(230, 246, 255);
}

/*articles vanaf article 3 goed stylen*/
section.infoSection1>section>img {
    width: 88vw;
}

section.infoSection1>section>article>a>h3,
section.infoSection1>section>article>a>p {
    width: 90%;
}

section.infoSection1>section>article>a>h3 {
    font-size: 1em;
    margin-bottom: 0.5em;
}

section.infoSection1>section>article>a>p {
    font-size: 0.8em;
}

/*arrow styling*/
section.infoSection1>section>article>a>img:nth-last-of-type(2),
section.infoSection1>section>article>a>img:last-of-type {
    position: absolute;
    right: 7.5vw;
    transform: translateY(55vw);
    height: 2em;
    width: auto;
}

/*hiding de hover arrow*/
section.infoSection1>section>article>a>img:last-of-type {
    display: none;
}

/*deelknop*/
section.infoSection1>section>a {
    padding-left: 3em;
    padding-bottom: 2em;
    background-image: url(./images/deelknop.png);
    background-repeat: no-repeat;
    background-position: bottom 1.8em left 0.8em;
    text-decoration: none;
}

/*de states***********************************/
/*de hover state*/
section.infoSection1>section>article>a:hover img.hoverArrow {
    display: inline;
}

section.infoSection1 a:hover {
    color: rgb(60, 144, 241)
}



/*door de eerste meida query voor index strekte de afbeeldingen niet mee dus van daar dit*/
@media (min-width:45em) {
    section.infoSection1>img {
        max-width: 300em;
    }
}

/*breakingpoint*/
@media (min-width:63em) {
    section.infoSection1>img {
        display: none;
    }

    /*header foto te voorschijn halen*/
    section.infoSection1>section>img:first-of-type {
        display: inline;
        border-radius: 1em;
        width: 85vw;
        margin-left: 1em;
        margin-right: 1em;
        max-width: 60em;
        margin-top: 5em;
    }

    section.infoSection1>section {
        display: flex;
        max-width: 62em;
        margin-top: 3em;
    }


    section.infoSection1>section>img,
    section.infoSection1>section>article {
        max-width: 70%;
    }

    section.infoSection1>section>article>a {
        max-width: 60vw;
    }

    section.infoSection1>section>article>a>img:first-of-type {
        max-height: 50vh;
    }

    section.infoSection1>section>article>a>img:nth-last-of-type(2) {
        display: block;
        opacity: 0;
    }

    /*openings tijden styling*/
    section.infoSection1>section>article:nth-of-type(2) {
        position: absolute;
        align-self: flex-end;
        transform: translateY(50vh);
        width: 20%;
        max-width: 13em;
        border-radius: 1em;
        margin: 1em;
        margin-top: 3em;
    }

    /*eerste article styling*/
    section.infoSection1>section>article:first-of-type {
        transform: translateY(-5em);
    }

    section.infoSection1>section>article:first-of-type>h2:first-of-type {
        transform: translateY(-17em);
    }
}