* {
    margin: 0;
    padding: 0;
}


/*custom properties**********************************************************/

:root {
    --width: 100%;

    --borderradius: 15px;
    --bordershadowcolor: dimgrey;
    --bordershadowx: 5px;
    --bordershadowy: 5px;

    --menubarheight: 4em;
    --menubaricon: 1em;
    --menulogo: 2.5em;

    --menuiconheight: 1.5em;

    --whitecolor: white;

    --h3fontsize: 2em;
    --imgposition: 100%;
    --imgheight: 80%;

    --sectionwidth1: 65%;
    --sectionwidth2: 100%;
    --sectionwidthimg: 80%;
    --sectionpadding: 2.5em;
    --sectioncolor1: white;
    --sectioncolor2: rgb(247, 247, 247);

    --bookingdateborder: .3em;
    --bookingborder: 5px;
    --bookingwidth: 25em;
    --bookingwidthcalc: calc(var(--bookingwidth) - 8.3em);
    --bookingpadding: .7em;
    --bookingpaddingright: 10em;
    --bookingmargintop: .5em;
    --bookingmarginbottom: 2em;
    --knopradius: 8em;
    --buttongradient1: rgb(22, 47, 156);
    --buttongradient2: rgb(37, 94, 199);

    --huiskleurblauw: rgb(38, 102, 221);

    --knopfontsize: .8em;
    --knopbordersize: 3px;
    --imgradius: .6em;

    --sliderimgwidth: 20em;
    --sliderliwidth: 20em;
    --sliderliheight: 27em;
}



/*algemeen*****************************************************************/

li {
    list-style: none;
}

body {
    max-width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

/*nav bar mobile version******************************************************/


nav>ul:first-of-type>li {
    margin: .8em;
}


/*om menu en hamburger icon onderelkaar te zetten*/

nav{
    display: flex;
}

nav button {
    display: flex;
    flex-direction: column;

    all: unset;
    z-index: 200;
    position: absolute;

    margin-left: .8em;
}

nav ul:first-of-type{
    background-color: var(--whitecolor);

    left:0;
    right:0;
    width:100%;
    height: var(--menubarheight);

    z-index: 150;
}

/*hamburger menu schalen en positioneren*/

nav button img {
    display: flex;
    max-height: var(--menubaricon);
    margin:.7em;
}

/*disneyland logo positioneren en schalen*/

nav ul:first-of-type li:first-of-type {
    position: absolute;

    left:50vw;
    transform: translateX(-50%);
}

nav ul:first-of-type li:first-of-type a img {
    height: var(--menulogo);
}

/*searchicon positioneren en schalen*/

nav ul:first-of-type li:nth-of-type(2) {
    position: absolute;

    right:0;
    margin:1.2em;
}

nav ul:first-of-type li:nth-of-type(2) a img {
    height: 1.5em;
}

/*uitschuifbare menubar styling***************/

nav ul:last-of-type{
    display: flex;
    flex-direction: column;
    position: fixed;

    background-color: var(--whitecolor);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    padding-top: calc(var(--menubarheight) + 1em);
    padding-left: var(--sectionpadding);

    transform: translateY(-100%);
    transition: .5s ;

    z-index: 100;
}

/*menu styling */

nav ul:last-of-type li a{
    text-decoration: none;
    font-weight: bolder;
}

nav ul:last-of-type li:nth-of-type(2) a,
nav ul:last-of-type li:nth-of-type(3) a{  
    font-size: var(--knopfontsize);
}

/*eerste img */
nav ul:last-of-type li:first-of-type img{
    height: var(--menuiconheight);
    border: 4px solid white;
    border-radius: 2em;
    box-shadow: 2px 2px 4px rgb(212, 212, 212), -2px -2px 4px rgb(212, 212, 212);
}

/*tweede en derde witte knop met img */
nav ul:last-of-type li:nth-of-type(2),
nav ul:last-of-type li:nth-of-type(3){
    border: 4px solid white;
    border-radius: 2em;
    box-shadow: 2px 2px 4px rgb(212, 212, 212), -2px -2px 4px rgb(212, 212, 212);
    width:fit-content;
}    

nav ul:last-of-type li:nth-of-type(2) {
    position: absolute;
    left:5.5em;

    background-image: url("images/inlog.png");
    background-repeat:no-repeat;
    background-size:var(--menuiconheight);

    height: var(--menuiconheight);
    padding-left: 2em;
    padding-right: .5em;
}

nav ul:last-of-type li:nth-of-type(3) {
    background-image: url("images/clock.png");
    background-repeat:no-repeat;
    background-size:var(--menuiconheight);

    margin-top: 2.5em;

    height: var(--menuiconheight);
    padding-left: 2em;
    padding-right: .5em;
}

/*de rest van de linkjes*/
nav ul:last-of-type li:not(li:first-of-type, li:nth-of-type(2), li:nth-of-type(3), li:nth-of-type(9), li:nth-of-type(10), li:nth-of-type(11)){
    margin-top: 2.5em;
}


nav ul:last-of-type li:nth-of-type(9),
nav ul:last-of-type li:nth-of-type(10),
nav ul:last-of-type li:nth-of-type(11){
    position: absolute;

    color:grey;
    bottom:0;

    font-size: var(--knopfontsize);
}


nav ul:last-of-type li:nth-of-type(9){
    margin-bottom: 5rem;
}

nav ul:last-of-type li:nth-of-type(10){
    color:black;

    margin-bottom: 3.5rem;
    font-size: .7em;
}


nav ul:last-of-type li:nth-of-type(11){
    background-image: url("images/helpcenter.png");
    background-repeat:no-repeat;
    background-size:var(--menuiconheight);

    right: 2.5em;
    margin-bottom: 5rem;
    padding-left: 1.5em;
}

nav ul:last-of-type li:nth-of-type(11) a{
    color:grey;
}


/*de toonmenu actie*/

nav.toonMenu ul:last-of-type{
    transform: translateY(0%);
    position: fixed;
    
}

nav.toonMenu button,
nav.toonMenu ul:first-of-type{
    position: fixed;
}


/*eerste section met quote****************************************************/
/*span - laat je dromen weer uitkomen*/
main>section span:first-of-type {
    position: absolute;
    color: var(--whitecolor);

    width: 100%;
    left: 50%;
    top: 50%;

    font-size: 25px;
    font-weight: bold;
    text-align: center;

    transform: translate(-50%, -50%);
}

main>section:first-of-type {
    display: flex;
    position: relative;

    background-color: var(--sectioncolor2);
    
    overflow: hidden;
}

main>section:first-of-type>a>img {
    position: relative;

    left: -100%;
    width: 300%;

    border-bottom-left-radius: 100em;
    border-bottom-right-radius: 100em;
    
    filter: brightness(60%);
}

/*boeking home pagina*********************************************************************************************/

/*de booking styling algemeen*/

main>section:nth-of-type(2) {
    background-color: var(--sectioncolor2);
}

/*de eerste section de boeking*/

main>section:nth-of-type(2) div:first-of-type form {
    width: var(--bookingwidth);
}

main>section:nth-of-type(2) div:first-of-type form label {
    padding-right: var(--bookingpaddingright);
}

main>section:nth-of-type(2) div:first-of-type {
    display: flex;
    position: relative;

    background-color: var(--sectioncolor1);
    color: rgb(3, 8, 36);

    top:-5em;
    width: var(--sectionwidth1);

    margin-left: auto;
    margin-right: auto;
    padding: var(--sectionpadding);
    border-radius: var(--borderradius);

    font-size: .7em;
    font-weight: bolder;

    justify-content: center;
    appearance: none;
}

/*kies je data*/
/*Om de content nooit groter dan de bookingwidth te laten maken, 
hoe groter de scherm het witte achtergrond gaat altijd mee 
maar de content moet een bepaald width zijn hoe breed het ook word*/

main>section:nth-of-type(2) div:first-of-type form input[type=date] {
    padding: var(--bookingpadding);
    margin-top: var(--bookingmargintop);
    margin-bottom: var(--bookingmarginbottom);
}

main>section:nth-of-type(2) div:first-of-type form input[type=date]:first-of-type {
    margin-right: -8px;
    width: calc(var(--bookingwidthcalc) / 2);
    border-bottom-left-radius: var(--bookingdateborder);
    border-top-left-radius: var(--bookingdateborder);
}

main>section:nth-of-type(2) div:first-of-type form input[type=date]:nth-of-type(2) {
    margin-left: 0;
    width: calc(var(--bookingwidthcalc) / 2);
    border-bottom-right-radius: var(--bookingdateborder);
    border-top-right-radius: var(--bookingdateborder);
}

/*hotels en resorts*/
main>section:nth-of-type(2) div:first-of-type form select:first-of-type {
    padding: var(--bookingpadding);
    margin-top: var(--bookingmargintop);
    margin-bottom: var(--bookingmarginbottom);
    width: 100%;
    border-radius: var(--bookingdateborder);
}

/*kamers en gasten*/
main>section:nth-of-type(2) div:first-of-type form select:nth-of-type(2) {
    padding: var(--bookingpadding);
    margin-top: var(--bookingmargintop);
    margin-bottom: var(--bookingmarginbottom);
    width: 100%;
}

/*vind prijzen*/
main>section:nth-of-type(2) div:first-of-type form input[type=submit] {
    padding: var(--bookingpadding);
    margin-top: var(--bookingmargintop);
    margin-bottom: var(--bookingmarginbottom);
    width: 100%;
    border-radius: var(--knopradius);
    border: none;

    letter-spacing: 1px;

    color: var(--whitecolor);
    background-image: linear-gradient(to right, var(--buttongradient1), var(--buttongradient2));
}

/*onder tekst*/
main>section:nth-of-type(2) div:first-of-type form legend {
    margin-top: var(--bookingmargintop);
    text-align: center;
    font-weight: normal;
}

/*de rest van de sceties onder de booking**********************************************************/


/*knop styling voor de sections*/
main>section:not(section:first-of-type)>a{
    color: var(--huiskleurblauw);
    background-color: var(--whitecolor);

    padding: var(--bookingpadding);
    padding-left: var(--sectionpadding);
    padding-right: var(--sectionpadding);

    border: var(--knopbordersize) solid var(--huiskleurblauw);
    border-radius: var(--knopradius);
    margin: auto;

    font-size: var(--knopfontsize);
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
}

/*styling voor images*/
main>section>img {
    width: var(--sectionwidth2);
    border-radius: var(--imgradius);
}

/*section van img1 - img7 padding dat zorgt voor de witruimte*/
main>section:nth-of-type(3),
main>section:nth-of-type(5),
main>section:nth-of-type(6),
main>section:nth-of-type(7),
main>section:nth-of-type(10),
main>section:nth-of-type(11),
main>section:nth-of-type(12) {
    padding: var(--sectionpadding);
}

/*section img en tekst order te verwisselen, images moeten bovenaan*/
main>section:nth-of-type(3) img,
main>section:nth-of-type(5) img,
main>section:nth-of-type(6) img,
main>section:nth-of-type(7) img,
main>section:nth-of-type(10) img,
main>section:nth-of-type(11) img,
main>section:nth-of-type(12) img{
    order:-1;
}

/*sectie 3 - img1 - boek vroeg en profiteer van onze laagste prijzen*/
main>section:nth-of-type(3) {
    background-color: var(--sectioncolor2);
}

/*sectie 4 - met de twee li's in ul*/

main>section:nth-of-type(4){
    display: flex;
    flex-direction: column;
    padding-top: var(--sectionpadding);
}

main>section:nth-of-type(4) ul{
    display: flex;
    flex-direction: column;

    background-color: var(--sectioncolor1);

    width: 100%;
    padding-top: var(--sectionpadding);
    padding-bottom: var(--sectionpadding);
    
    gap:2em;
    list-style: none;
}

main>section:nth-of-type(4) > h3{
    text-align: center;
}

main>section:nth-of-type(4) li {
    display: flex;
    flex-direction: column;
    align-self: center;

    background-color: var(--sectioncolor1);
    width: var(--sliderliwidth);
    height: var(--sliderliheight);
    

    box-shadow: 5px 5px 8px rgb(206, 206, 206), -2px -2px 8px rgb(206, 206, 206);
    border-radius: var(--borderradius);
}

main>section:nth-of-type(4) ul li img {
    border-radius: var(--borderradius);
    width: 100%;
    height: 12em;
    flex-shrink: 0;
    order:-1;
}

main>section:nth-of-type(4) ul li h3,
main>section:nth-of-type(4) ul li p{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5em;
}

main>section:nth-of-type(4)>ul>li>p,
main>section:nth-of-type(4)>ul>li>a{
    font-size: var(--knopfontsize);
}

main>section:nth-of-type(4) ul li a {
    align-self: center;
    justify-content: flex-end;

    color: var(--huiskleurblauw);
    background-color: var(--whitecolor);

    padding: var(--bookingpadding);
    padding-left: var(--sectionpadding);
    padding-right: var(--sectionpadding);

    border: var(--knopbordersize) solid var(--huiskleurblauw);
    border-radius: var(--knopradius);

    font-weight: bolder;
    text-decoration: none;
    text-align: center;

    margin-bottom: auto;
    margin-top: 1em;
}

/*sectie 5 - img2 - laat je dromen weer uitkomen*/
section:nth-of-type(5) {
    background-color: var(--sectioncolor2);
}

/*sectie 6 - img3 - boek je verblijf met gemoedrust*/
section:nth-of-type(6) {
    background-color: var(--sectioncolor1);
}

/*sectie 7 - img4 - vind het perfecte moment voor je verblijf*/
section:nth-of-type(7) {
    background-color: var(--sectioncolor2);
}

/*sectie 8 - hotel slider*/
section:nth-of-type(8) {
    background-color: var(--sectioncolor1);

    padding-top: var(--sectionpadding);
    padding-bottom: var(--sectionpadding);
}

section:nth-of-type(8) h3 {
    text-align: center;
}

section:nth-of-type(8) ul:first-of-type {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    cursor: grab;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

section:nth-of-type(8) ul:first-of-type li {
    display:flex;
    flex-direction: column;

    background-color: var(--sectioncolor1);
    margin: 1em;
    width: var(--sliderliwidth);
    height: var(--sliderliheight);

    box-shadow: 5px 5px 8px rgb(206, 206, 206), -2px -2px 8px rgb(206, 206, 206);
    border-radius: var(--borderradius);
    scroll-snap-align: center;
}

section:nth-of-type(8) ul:first-of-type li h4,
section:nth-of-type(8) ul:first-of-type li p {
    order:2;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5em;
}

section:nth-of-type(8) ul:first-of-type li p,
section:nth-of-type(8) ul:first-of-type li a {
    font-size: var(--knopfontsize);
}

section:nth-of-type(8) ul:first-of-type li img {
    border-radius: var(--borderradius);
    width: var(--sliderliwidth);
    height: 12em;
    flex-shrink: 0;
    order:1;
}

section:nth-of-type(8) ul:first-of-type li a {
    align-self: center;
    justify-content: flex-end;

    order: 3;

    color: var(--huiskleurblauw);
    background-color: var(--whitecolor);

    padding: var(--bookingpadding);
    padding-left: var(--sectionpadding);
    padding-right: var(--sectionpadding);
    margin-bottom: 3em;
    margin-top: auto;

    border: var(--knopbordersize) solid var(--huiskleurblauw);
    border-radius: var(--knopradius);

    font-weight: bolder;
    text-decoration: none;
    text-align: center;
}


/*de bolletjes onder de slider*/
section:nth-of-type(8) ul:nth-of-type(2) {
    display: flex;
    justify-content: center;
    gap: .5em;
}

section:nth-of-type(8) ul:nth-of-type(2) li {
    background-color: grey;

    width: 1em;
    height: 1em;
    border-radius: 50%;
}

section:nth-of-type(8) ul:nth-of-type(2) li a {
    opacity: 0%;
}



/*de knop onder de slider*/
section:nth-of-type(8) > a:last-of-type {
    margin-top:1em;

    padding: 1em;
    padding-left: var(--sectionpadding);
    padding-right: var(--sectionpadding);

    border-radius: var(--knopradius);
    border: none;
    letter-spacing: 1px;

    color: var(--whitecolor);
    background-image: linear-gradient(to right, var(--buttongradient1), var(--buttongradient2));
}


/*sectie 9 - disneytips van onze fans video*/
section:nth-of-type(9) {

    background-color: var(--sectioncolor2);
 
    padding:var(--sectionpadding);
    text-align: center;
}

iframe{
    background-color: var(--whitecolor);

    margin-left: auto;
    margin-right:auto;
    padding: 1em;

    box-shadow: 5px 5px 8px rgb(206, 206, 206), -2px -2px 8px rgb(206, 206, 206);
    border-radius: var(--borderradius);
}


/*sectie 10 - img5 - blijf op de hoogte van het..*/
section:nth-of-type(10) {
    background-color: var(--sectioncolor1);
}

/*sectie 11 - img6 - kom je ons bezoeken..*/
section:nth-of-type(11) {
    background-color: var(--sectioncolor2);
}

/*sectie 12 - img7 - disney premier acces..*/
section:nth-of-type(12) {
    background-color: var(--sectioncolor1);
}

/*sectie 13 - #disneyland paris instagram posts*/
section:nth-of-type(13) {
    background-color: var(--sectioncolor1);

    padding-top: var(--sectionpadding);
    padding-bottom: var(--sectionpadding);
}

section:nth-of-type(13) h3{
    text-align: center;
}

section:nth-of-type(13) ul{
    display: flex;
    flex-direction: row;

    overflow: hidden;
    cursor: grab;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

section:nth-of-type(13)>a{
    color: var(--huiskleurblauw);
    background-color: var(--whitecolor);

    background-image: url(./images/insta1.png);
    background-repeat: no-repeat;
    background-position-x: 1em;
    background-position-y: 50%;
}


/*ig posts styling*/
section:nth-of-type(13) ul li img {
    width:20em;
    height:20em;
    margin: .5em;
    border-radius: 5px;
}



/*de footer********************************************************************/

footer{

    background-color: var(--sectioncolor2);

    padding:var(--sectionpadding);

    text-align: center;
    font-weight: normal;
    font-size: var(--knopfontsize);
}

footer div {
    background-color: var(--sectioncolor1);

    padding-left: var(--sectionpadding);
    padding-right: var(--sectionpadding);

    box-shadow: 5px 5px 8px rgb(206, 206, 206), -2px -2px 8px rgb(206, 206, 206);
    border-radius: var(--borderradius);
}

footer div section{
    /* background-image: url("/images/arrowdark.png"); */
    display: flex;
    flex-direction: column;

    padding: 1.5em;
}

footer div section ul li{
    margin-bottom: var(--bookingpadding);
}

/*normale linkjes styling*/

footer div section ul li a {
    text-decoration: none;
    font-size: var(--knopfontsize);
    margin-bottom: 60em;
    color: black;
}

/*arrow styling*/

footer div section img{
    position: absolute;
    height: .8em;
    width:1.5em;

    right: 10%;

    /* width:var(--menuiconheight); */
}


/*alle states*****************************************************************/
/*focus states*/
a:focus, nav>ul>li:focus, span:focus, label:focus, select:focus, input:focus  {
    outline: 2px solid rgb(96, 210, 255);
}

/*hover states*/

a:hover, button:hover{
    cursor: pointer;
}

section:nth-of-type(8) ul li a:hover {
    background-color: green;
}

footer div section ul li a:hover {
    text-decoration: underline;
}

/*active states*/

section:nth-of-type(8) ul:nth-of-type(2) li:active {
    background-color: var(--huiskleurblauw);
}

/*mediaqueries1 bij 60em veranderd het naar desktop*/

@media (min-width:43em) {
    main>section:nth-of-type(4) ul{
        flex-direction: row;
        justify-content: center;
    }
}

@media (min-width:45em) {
    img:not(section:first-of-type>a>img){
        max-width: 30em;
    }

    section:nth-of-type(3),
    section:nth-of-type(5), 
    section:nth-of-type(6),
    section:nth-of-type(7),
    section:nth-of-type(10),
    section:nth-of-type(11),
    section:nth-of-type(12){
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }

    /*section 3 grid indeling*/
    section:nth-of-type(3) h3,
    section:nth-of-type(6) h3,
    section:nth-of-type(10) h3,
    section:nth-of-type(12) h3{
       grid-column-start: 1;
       grid-row-start: 1;
    }

    section:nth-of-type(3) p,
    section:nth-of-type(3) a,
    section:nth-of-type(6) p,
    section:nth-of-type(6) a,
    section:nth-of-type(10) p,
    section:nth-of-type(10) a,
    section:nth-of-type(12) p,
    section:nth-of-type(12) a{
        grid-column-start: 1;
    }

    section:nth-of-type(3) img,
    section:nth-of-type(6) img,
    section:nth-of-type(10) img,
    section:nth-of-type(12) img{
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end:4;
    }

    /*section grid indeling*/
    section:nth-of-type(5) h3,
    section:nth-of-type(7) h3,
    section:nth-of-type(11) h3{
        grid-column-start: 2;
        grid-row-start: 1;
     }
 
    section:nth-of-type(5) p,
    section:nth-of-type(5) a,
    section:nth-of-type(7) p,
    section:nth-of-type(7) a,
    section:nth-of-type(11) p,
    section:nth-of-type(11) a{
        grid-column-start: 2;
     }
 
    section:nth-of-type(5) img,
    section:nth-of-type(7) img,
    section:nth-of-type(11) img{
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end:4;
     }
}

@media (min-width:64em) {

    /*styling voor booking*/
    main>section:first-of-type>a>img {
        left: -30%;
        width: 160%;
    }

    /*boeking styling row style ipv column*/
    main>section:nth-of-type(2) div:first-of-type {
        width: 85em;
    }

    main>section:nth-of-type(2) div:first-of-type form{
        display: flex;
        flex-direction: row;
        padding:5px;
        width: fit-content;
    }

    main>section:nth-of-type(2) div:first-of-type form label {
        padding-right:0;
    }

    /* main>section:nth-of-type(2) div:first-of-type form legend {
        flex-wrap: wrap;
    } */
}

@media (min-width:90em) {
    main>section:first-of-type>a>img {
        top:-20%;
        left: -10%;
        width: 120%;
        height: 60%;
    }
}

