* {
    margin: 0;
    padding: 0;
}


/*custom properties**********************************************************/

:root {
    --width: 100%;

    --borderradius: 15px;
    --bordershadowcolor: dimgrey;
    --bordershadowx: 5px;
    --bordershadowy: 5px;

    --menubarheight: 2em;
    --menubaricon: 1em;

    --whitecolor: white;

    --h3fontsize: 2em;
    --imgposition: 100%;
    --imgheight: 10%;

    --sectionwidth1: 70%;
    --sectionwidthimg: 80%;
    --sectionpadding: 2em;
    --sectioncolor1:white;
    --sectioncolor2:rgb(230, 230, 230);
}


/*algemeen*****************************************************************/

li {
    list-style: none;
}

body{
    max-width: 100vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

section{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:1em;
    margin-left:auto;
    margin-right:auto;

}

/*nav bar mobile version******************************************************/

nav>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--whitecolor);
}

nav>ul>li {
    margin: 1em;
}


/*om menu en hamburger icon onderelkaar te zetten*/

nav>ul>li:first-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/*hamburger menu schalen*/

nav>ul>li:first-of-type>img {
    max-height: var(--menubaricon);
}


/*disneyland logo schalen*/

nav>ul>li:nth-of-type(2)>a>img {
    max-height: var(--menubarheight);
}


/*seatchicon schalen*/

nav>ul>li:nth-of-type(3)>a>img {
    max-height: var(--menubaricon);
}


/*eerste section met quote****************************************************/

span{
    color:var(--whitecolor);
    font-weight:bold;
    width:100%;
    font-size:25px;
}

section:first-of-type {
    display:flex;
    position: relative;
    overflow:hidden;
    background-color: var(--sectioncolor2);
}

section:first-of-type span{
    position: absolute;
    text-align: center;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}

section:first-of-type a{
    width:100%;
    height: var(--imgheight);
}

section:first-of-type img {

    filter:brightness(50%);
    position:relative;
    left:0;
    width: var(--imgposition);
    max-height: var(--imgheight);
    border-bottom-left-radius: 25em;
    border-bottom-right-radius: 25em;
    
} 


/*boeking home pagina**********************************************************/
section:nth-of-type(2) {
    background-color: var(--sectioncolor2);
}

section:nth-of-type(2) div{
    margin-left:auto;
    margin-right:auto;

    width:var(--sectionwidth1);
    padding: var(--sectionpadding);
    background-color: var(--sectioncolor1);
    border-radius: var(--borderradius);
}


/*de rest van de sceties onder de booking**********************************************************/
/*sectie 1*/
section:nth-of-type(3){

    background-color: var(--sectioncolor2);
    padding: var(--sectionpadding);
}

section:nth-of-type(3) img{
    width: var(--sectionwidthimg);
    border-radius: var(--borderradius);
}

/*sectie 2*/
section:nth-of-type(4){
    
}

section:nth-of-type(4) img{

}

/*sectie 3*/
section:nth-of-type(5){
    
}

/*sectie 4*/